.war-box{
    padding: 10px;
    margin: 10px;
    border: 1px solid #3f3f3f;
    background-color: rgba(17,17,17,0.85);
    color: #fff;
    border-radius: 5px;
}

.war-container .inline-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.upper-panel{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*.research-box .inline-container {
    justify-content: space-between;
}

.research-box .inline-container .left {
    width: 60%;
}
.research-box .inline-container .left .description {
    margin: 5px;
    font-size: 13px;
}


.resourceContainer span {
    font-size: 13px;
    margin-right: 5px;
}

.title-item {
    font-weight: bold;
}

.resourceContainer.isUnavailable {
    color: #f52828;
}*/
